<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="images/coder-combat-small.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#sign-up-modal">Sign-Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
      </ul>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="players-editor pull-left">
      <user-editor chainedPromise>
        <span id="uEditor"></span>
      </user-editor>
    </div>
    <div class="right-side pull-right">
      <div class="question-container">
        {{data.question}}
      </div>
      <div class="opponents-editor">
        <opponent-editor chainedPromise>
          <span id="oEditor"></span>
        </opponent-editor>
      </div>
    </div>

  </div>
</div>